<% layout("/layouts/boilerplate") %>
<body>
  <h3>All Listings</h3>
  <!-- <form method="GET" action="/listings/new">
    <button>Create New Listing</button>
  </form> -->

  <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of listings) { %>
    <a href="/listings/<%= listing._id %>">
      <div class="card col listing-card" style="width: 17rem">
        <img
          class="card-img-top"
          src="<%= listing.image.url %>"
          alt="Card image cap"
          style="height: 19rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b><br />
            &#8377; <%= listing.price.toLocaleString("en-IN") %>/night
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>
